<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Skills-HTML-CSS</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="/static/styles.css" type="text/css" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
            <div class="navbar-header">

                <a class="navbar-brand" href="#">Totally a Company</a>

            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Careers</a></li>
                </ul>

            </div>
            </div>
        </nav>

    {% block content %} 
    {% endblock %}


    </body>
</html>